@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: url(./assets/pexels-ekaterina-bolovtsova-6077326.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.container {
  width: 100%;
  height: 55vh;
  background-color: #2b2922;
}

/* ----------NAVBAR--------------- */
.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

.logo {
  width: 130px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-right ul li {
  font-size: 1.1rem;
}

.button-small {
  margin-left: 4rem;
  font-size: 1.3rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #cdb643;
  color: #cdb643;
  padding: 8px 20px;
  border-radius: 10px;
}

.ri-menu-3-line {
  color: #ffffff;
  font-size: 30px;
  margin-left: 30px;
  display: none;
}

@media (max-width: 1140px) {
  .nav-right ul {
    display: none;
  }

  .ri-menu-3-line {
    display: block;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 30px 40px;
  }

  .button-small {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 15vh;
    padding: 0 20px;
  }

  .logo {
    width: 80px;
  }
  .button-small {
    font-size: 0.5rem;
    padding: 8px 10px;
    border-radius: 8px;
  }

  .ri-menu-3-line {
    color: #ffffff;
    font-size: 24px;
    margin-left: 20px;
  }
}

/* ............HERO SECTION.............. */

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}

.hero-left {
  width: 55%;
}

.hero-left h1 {
  font-size: 7.8rem;
  margin-top: 2.5rem;
  line-height: 1;
}

.hero-right {
  width: 45%;
}

.hero-right p {
  font-size: 1.8rem;
  margin-top: 3.8rem;
  color: #dfdfdf;
}

@media (max-width: 1730px) {
  .hero-left h1 {
    font-size: 5rem;
    margin-top: 3rem;
  }

  .hero-right p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1310px) {
  .hero {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 80px;
  }

  .hero-right p {
    font-size: 1rem;
  }
}

@media (max-width: 1146px) {
  .hero-left h1 {
    font-size: 4rem;
    margin-top: 3rem;
  }

  .container {
    height: 50vh;
    width: 100%;
  }
}

@media (max-width: 1020px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 3rem;
    margin-top: 2.5rem;
    text-align: center;
  }

  .hero-right {
    width: 100%;
  }
  
  .hero-right p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero-left h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
  }

  .hero-right {
    width: 100%;
  }
  
  .hero-right p {
    font-size: 0.77rem;
    text-align: center;
  }
}

